{% extends 'partials/base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}">Pycourses</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-pencil"></span> Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <h1>Login</h1>
  <hr>
  {% if loggedInError %}
    <div class="alert alert-danger">{{ loggedInError }}</div>
    <br>
    <p></p>
  {% endif %}
  <form action="{{ url_for('login') }}" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username(class_="form-control") }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
          <br>
          <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <br>
    {{ form.password.label }}
    {{ form.password(class_="form-control") }}
    {% if form.password.errors %}
      {% for error in form.password.errors %}
          <br>
          <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <br>
    <p></p>
    <input type="submit" class="btn btn-success" value="Login !">
  </form>
  <br>
  <p></p>
  </p>You're not a member ? Sign up <a href="{{ url_for('register') }}">here</a>.</p>
</div>
{% endblock %}
